<div class="container">
    <h1>Murder Mystery</h1>
    <hr>
    <form class="form-group" method="post">
        <h2>Welcome Detective, </h2>
        <input type="text" name="name" value="" class="form-control name" placeholder="enter name">
        <br>
        <button class="btn btn-primary fa fa-play start-btn"> start
    </form>
</div>
