<div class="container">
    <h1 class="text-center well">{{verdict}}!</h1>
    <form method="post" class="text-center">
        <button name="button" value="Play_again" class="btn btn-default btn-padding fa fa-repeat"> Play again!
    </form>
</div>
